.button {
  padding: 0.45rem 1rem;

  background-color: $secondaryColor;
  border-radius: 10px;
  line-height: 1.35;

  transition: all 350ms;

  &:hover {
    background-color: darken($color: $secondaryColor, $amount: 20%);
  }
}

.button--large {
  padding: 0.35rem 1.25rem;
}
