* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: $whiteColor;
}

body {
  width: 100%;
  height: 100%;

  background-color: $blackColor;
}

.max-width {
  margin: 0 auto;
  max-width: 1650px;

  padding-left: 8rem;
  padding-right: 8rem;

  @media (max-width: $breakpointXl) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media (max-width: $breakpointLg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: $breakpointMd) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.max-width--no-padding {
  margin: 0 auto;
  max-width: 1650px;
}

.link:hover {
  color: $darkGreyColor !important;
}

div[data-title] {
  font-weight: 400 !important;
}
