// breakpoints
$breakpointXSm: 360px;
$breakpointSm: 640px;
$breakpointMd: 768px;
$breakpointLg: 1024px;
$breakpointXl: 1280px;
$breakpoint2Xl: 1536px;
$breakpoint3Xl: 2100px;

// colors
$blackColor: #121423;
$primaryColor: #006cf4;
$secondaryColor: #175ccd;
$terniaryColor: #192141;
$whiteColor: #ffffff;
$lightGreyColor: #f6f6f9;
$darkGreyColor: #b0b0b0;
$bordersColor: #474f71;
$errorColor: #ba0d0d;
$successColor: #107a49;
