// breakpoints
$breakpointXSm: 360px;
$breakpointSm: 640px;
$breakpointMd: 768px;
$breakpointLg: 1024px;
$breakpointXl: 1280px;
$breakpoint2Xl: 1536px;
$breakpoint3Xl: 2100px;

// colors
$black: #121423;
$primary: #006cf4;
$secondary: #175ccd;
$terniary: #192141;
$white: #ffffff;
$lightGrey: #f6f6f9;
$darkGrey: #b0b0b0;
$borders: #474f71;
$error: #810707;
